extends layout

block content
  h1= title
  p Welcome to #{title}
  div.alert.alert-danger this is an error message
  -var name = 'Tom'
  if name === 'Tom'
    div.alert.alert-success name is #{name}
  else
    p.alert.alert-danger name is not found
  // list list
  //- list2
  -var list =[1,2,3]
  ul
    each value in list
      li=value
block privatejs
  script $(document).ready(function(){console.log('jquery')})
